body {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./airplanebg.jpg");
    background-size: cover;
    background-position: center;
}

.header{
    text-align: center;
    font-family: sans-serif, ;
    font-size:xx-large;
    color: honeydew;
    
}

.search{
    text-align: left;
    font-size: large;
    color: honeydew;
}

.flights{
    text-align: right;
    font-size: large;
    color: honeydew;
}

.currency{
    text-align: left;
    font-size: large;
    color: honeydew;
}

.weather{
    text-align: right;
    font-size: large;
    color: honeydew;
}

li:hover {
    
    font-size: 20px;
}
.search-box {
    border:1px solid yellow; width:300px; height:110px;
    background-color: lightblue;
}