body {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./airplanebg.jpg");
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    font-family: sans-serif, ;
    font-size: xx-large;
    color: honeydew;

}

.weather-api {
    border: 2px solid white;
    height: 55vh;
    width: 65vw;
    margin-left: 2rem;
    padding-left: 2rem;
}

.bg-container {
    display: flex;
}

.currency-api {
    border: 2px solid white;
    height: 55vh;
    width: 25vw;
    margin-left: 5rem;
    margin-right: 2rem;
}

.weather {
    text-align: right;
    font-size: large;
    color: honeydew;
}


/* Zac's CSS */
li:hover {


    font-size: 20px;
}

.search-box {
    border: 1px solid yellow;
    width: 300px;
    height: 110px;
    background-color: lightblue;
}