body {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./airplanebg.jpg");
    background-size: cover;
    background-position: center;
}

.header{
    text-align: center;
    text: sans-serif, ;
    font-size:xx-large;
    color: honeydew;
    
}

.search{
    text-align: left;
    font-size: large;
    color: honeydew;
}

.flights{
    text-align: right;
    font-size: large;
    color: honeydew;
}

.currency{
    text-align: left;
    font-size: large;
    color: honeydew;
}

.weather{
    text-align: right;
    font-size: large;
    color: honeydew;
}